<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/swingy</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="show_sql">false</property>
    <property name="format_sql">false</property>
    <property name="connection.username">seefeesaw</property>
    <property name="connection.password">seefeesaw1</property>
    <mapping class="com.ashongwe.swingy.model.HeroEntity"/>
    <mapping class="com.ashongwe.swingy.model.ArtifactsEntity"/>

      <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>